[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "plumberDeploy"]
	path = plumberDeploy
	url = https://github.com/meztez/plumberdeploy
	shallow = true
	registered = true
[submodule "redoc"]
	path = redoc
	url = https://github.com/meztez/redoc
	shallow = true
	registered = true
[submodule "rapidoc"]
	path = rapidoc
	url = https://github.com/meztez/rapidoc
	shallow = true
	registered = true
